<div ng-include="'views/home/header.html'"></div>
<div class="book-view container">
  <div class="row"><br></div>
  <div class="row">
    <div class="col-xs-12"><b>별칭:</b></div>
    <div class="col-xs-12">{{book.name}}</div>
  </div>
  <div class="row"><br></div>
  <div class="row">
    <div class="col-xs-12"><b>태그:</b></div>
    <div class="col-xs-12">
      <span ng-repeat="tag in book.tags">#{{tag}}&nbsp</span>
    </div>
  </div>
  <div class="row"><br></div>
  <div class="row">
    <div class="col-xs-12"><b>등록일:</b></div>
    <div class="col-xs-12">{{book.donation_date | date:'yyyy.MM.dd'}}</div>
  </div>
  <div class="row"><br></div>
  <div ng-show="book.return_date" class="row">
    <div class="col-xs-12"><b>데이트 종료 예정일:</b></div>
    <div class="col-xs-12">{{book.return_date | date:'yyyy.MM.dd'}}</div>
    <div class="col-xs-12"><br></div>
    <div class="col-xs-12"><b>데이트 중인 책입니다</b></div>
    <div class="col-xs-12"><br></div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-success col-xs-12" ng-click="return()">
        반납 하기
      </button>
    </div>
  </div>
  <div ng-show="!book.return_date" class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary col-xs-12" ng-click="borrow()">
        데이트 하기
      </button>
    </div>
  </div>

  <!-- Comment Area -->
  <div class="row col-xs-12 nopadding"><br></div>
  <div><strong>Comments</strong></div>
  <table class="comment-view table table-hover table-striped">
    <tr ng-repeat="comment in comments" class="">
      <td>
        <div class="col-xs-12 col-sm-2">
          <strong>{{comment.name}}</strong>
        </div>
        <div class="col-xs-12 col-sm-10">
          {{comment.text}}
        </div>
      </td>
    </tr>
  </table>

  <!-- Input -->
  <div><strong>New Comment</strong></div>
  <form class="form panel-body nopadding">
    <table class="comment-input-view table">
    <tr>
      <td>
        <label for="comment-name" class="control-label">이름</label>
      </td>
      <td>
        <div class="col-xs-12">
          <input class="form-control" id="comment-name" type="text" ng-model="comment_name">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="comment-text" class="control-label">덧글</label>
      </td>
      <td>
        <div class="col-xs-12">
          <textarea class="form-control" id="comment-text" type="text" ng-model="comment_text"></textarea>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
          <button type="submit" class="btn btn-default btn-block"
            ng-click="save()">등록</button>
          <p class="control-label help-block"><br></p>
      </td>
    </tr>
    </table>
  </form>
</div>
