<div ng-include="'views/home/header.html'"></div>
<div class="book-view container">
  <div class="row">
    <div class="col-xs-12"><b>별칭:</b></div>
    <div class="col-xs-12">{{book.name}}</div>
  </div>
  <div class="row"><br></div>
  <div class="row">
    <div class="col-xs-12"><b>태그:</b></div>
    <div class="col-xs-12">
      <span ng-repeat="tag in book.tags">#{{tag}}&nbsp</span>
    </div>
  </div>
  <div class="row"><br></div>
  <div class="row">
    <div class="col-xs-12"><b>등록일:</b></div>
    <div class="col-xs-12">{{book.donation_date | date:'yyyy.MM.dd'}}</div>
  </div>
  <div class="row"><br></div>
  <div ng-show="book.return_date" class="row">
    <div class="col-xs-12"><b>데이트 종료 예정일:</b></div>
    <div class="col-xs-12">{{book.return_date | date:'yyyy.MM.dd'}}</div>
    <div class="col-xs-12"><br></div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary disabled col-xs-12 col-sm-6">
        데이트 중인 책입니다
      </button>
    </div>
  </div>
  <div ng-show="!book.return_date" class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary col-xs-12 col-sm-6">
        데이트 하기
      </button>
    </div>
  </div>
</div>
