<div class="container header header-home">
  <div class="row">
    <div class="col-xs-1 nopadding">
      <a class="btn btn-link" href="#/setting">
        <span class="icon icon-wrench"></span>
      </a>
    </div>
    <div class ="col-xs-11">
      <h4>Blind Date with a Book</h4>
    </div>

  </div>
  <ul class="menu">
  <li><a href="#/home" class="btn btn-link">메인</a></li>
  <li><a href="#/search" class="btn btn-link">검색</a></li>
  <li><a href="#/lend" class="btn btn-link">빌려주기</a></li>
</ul>

</div>

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
