<div ng-include="'views/home/header.html'"></div>
<div class="home-view container">
  <div class="col-xs-12"><br></div>
  <div class="col-xs-12">
    <p class=""><strong>데이트 가능한 책</strong></p>
  </div>
  <div ng-repeat="book in books" class="col-xs-12 col-sm-6 text-center">
    <a ui-sref="books({id: book._id})">
      <div class="panel panel-success"> 
        <div class="panel-heading col-xs-12">
          <h4 class="text-left ">{{book.name}}</h4>
        </div>
        <div class="row panel-body">
          <div class="row col-xs-12"><br></div>
          <img ng-src="{{bookUrl}}" class="phone col-xs-5">
          <div class="text-left col-xs-7">
            <span ng-repeat="tag in book.tags">#{{tag}}<br></span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
