<div ng-include="'views/home/header.html'"></div>

<table class="search-view table table-hover table-striped">
  <tr class="">
    <input ng-model="query" class="form-control col-xs-12"
      placeholder="검색어를 입력해주세요">
  </tr>
  <tr ng-repeat="book in books | filter:query" class="">
    <td>
      <a href="#/books/{{book._id}}" class="thumb">
        <div class="col-xs-12 col-sm-4">
          <strong>{{book.name}}</strong>
        </div>
        <div class="col-xs-12 col-sm-8">
          <span ng-repeat="tag in book.tags">#{{tag}}&nbsp</span>
        </div>
      </a>
    </td>
  </tr>
</div>
